<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %} {% endblock %}

    <title> {% block title %}Cult | {{pagename}}{% endblock %}</title>

    {% block head %} {% endblock %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Home link on the left -->
            <a class="navbar-brand" href="{% url 'core:home' %}">Cult</a>
    
            <!-- Page name in the center -->
            <div class="mx-auto">
                <span class="navbar-text">
                    {{pagename}}
                </span>
            </div>
    
            <!-- Profile picture or login on the right -->
            <div class="ml-auto">
                <!-- If the user is authenticated, show profile picture -->
                <a class="nav-link" href="#">
                    <img src="path_to_profile_picture.jpg" alt="Profile" class="rounded-circle" width="30" height="30">
                </a>
                <!-- If the user is not authenticated, show login link -->
                <!-- <a class="nav-link" href="#">Login</a> -->
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>