{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cult | Publish review{% endblock %}

{% block header %} Publish review {% endblock %}

{% block content %}

<div style="margin-top: 170px;">
    <div class="centered-form">
        <div class="form-container">
            <h2>Add a review</h2>
            <form method="post"> {% csrf_token %}
                {{form | crispy}}
                <input type="submit" class="btn btn-success" value="Publish"> 
            </form>
        </div>
    </div>
</div>

{% endblock %}