{% extends "base.html" %}

{% block title %}Cult | Delete {{name}}{% endblock %}

{% block header %} Delete {{name}} {% endblock %}

{% block content %} 

<div class="centered-form">
    <div class="form-container">
        <h2>Delete</h2>
        <p>Are you sure you want to delete
            {% if name == 'Movie' %}
                "{{ object.title }}"?
            {% elif name == 'Log' %}
                the Log?
            {% elif name == 'Review' %}
                the Review?
            {% endif %}
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, delete</button>
            <a href="{% url 'core:home' %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}