{% extends "base.html" %}

{% block title %}Cult | Diary list{% endblock %}

{% block header %} 
    {{profile.user.username}}'s movies
{% endblock %}

{% block content %}

<h1>Movies watched by {{profile.user.username}}</h1>

<ul>
    {% for log in logs %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <a href="{% url 'movie_page' log.movie.pk %}">
                    <img src="{{ log.movie.poster.url }}" class="card-img-top" alt="{{ log.movie.title }}">
                </a>
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        {% if log.like %}
                            <img src="{% static 'like.svg' %}" style="width: 12px; height: 12px;">
                        {% endif %}
                        {% if log.rewatch %}
                            <span>
                                <img src="{% static 'rewatch.svg' %}" style="width: 12px; height: 12px;">
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% empty %}
        <li>No movies watched yet.</li>
    {% endfor %}
</ul>

<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ movies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">next</a>
            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}