{% extends "base.html" %}
{% load static %}

{% block title %}Cult | Diary list{% endblock %}

{% block header %} 
    {{profile.user.username}}'s movies
{% endblock %}

{% block content %}

<div style="position: absolute; top: 80px; left: 20px; z-index: 10;">
    <a href="javascript:history.back()">
        <img src="{% static 'back.svg' %}" alt="" width="18" height="18">
    </a>
</div>

<div style="text-align: center;">
<h1>Movies watched by {{profile.user.username}}</h1>
</div>

<div class="row">
    {% for log in logs %}
        <div class="col-md-2 mb-4">
            <div class="card">
                <a href="{% url 'core:movie_page' log.movie.pk %}">
                    <img src="{{ log.movie.poster.url }}" class="card-img-top" alt="{{ log.movie.title }}">
                </a>
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        {{ log.date.date }}
                        {% if log.like %}
                            <div class="ml-2">
                                <img src="{% static 'like.svg' %}" style="width: 12px; height: 12px;">
                            </div>
                        {% endif %}
                        {% if log.rewatch %}
                            <div class="ml-2">
                                <img src="{% static 'rewatch.svg' %}" style="width: 12px; height: 12px;">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% empty %}
        <li>No movies watched yet.</li>
    {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</div>

{% endblock %}