{% extends "base.html" %}

{% block title %}Cult | Movies list{% endblock %}

{% block header %} 
    {{profile.user.username}}'s movies
{% endblock %}

{% block content %}

<h2>Movies produced by {{profile.user.username}}</h2>

<div style="position: absolute; top: 65px; right: 20px; z-index: 10;">
    <a href="{% url 'core:create_movie' %}">
        <button type="button" class="btn btn-outline-success">Add</button>
    </a>
</div>

<div class="row">
    {% for movie in movies %}
        <div class="col-md-2 mb-3">
            <div class="card">
                <a href="{% url 'core:movie_page' movie.pk %}">
                    <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% empty %}
        <li>No movies produced yet.</li>
    {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</div>

{% endblock %}