{% extends "base.html" %}
{% load static crispy_forms_tags log_ops %}

{% block title %}Cult | Movie page{% endblock %}

{% block header %} {{movie.title}} {% endblock %}

{% block head %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/toggle_watchlist.js' %}"></script>
<script src="{% static 'js/toggle_favourite.js' %}"></script>
<script src="{% static 'js/log.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Include csrf_token needed for the AJAX request in the watchlist system -->
<script>
    var csrfToken = "{{ csrf_token }}";
</script>

<div style="position: absolute; top: 80px; left: 20px; z-index: 10;">
    <a href="javascript:history.back()">
        <img src="{% static 'back.svg' %}" alt="" width="18" height="18">
    </a>
</div>

<div class="container">
    <div class="row h-100">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ movie.poster.url }}" class="img-fluid poster" alt="{{ movie.title }}">
        </div>
        <div class="col-md-6 mt-5">
            <h1>{{ movie.title }}</h1>
            <p>{{ movie.plot }}</p>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Directed by:</strong> {{ movie.director }}</p>
            <p><strong>Cast:</strong> {{ movie.cast }}</p>
            <p><strong>Runtime:</strong> {{ movie.runtime }}</p>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Production:</strong> 
                <a href="{% url 'core:profile_page' movie.production.pk %}">
                    {{ movie.production.user.username }}
                </a>
            </p>
            <p><strong>Total Views:</strong> {{ movie.views_total }}</p>
            <p><strong>Total Reviews:</strong> {{ movie.reviews_total }}</p>

            <!-- Buttons -->
            <div class=" mt-4">
                {% if view.is_available %}
                    <a href="{% url 'core:create_log' movie.pk %}">
                        <button type="button" class="btn btn-outline-primary btn-sm" id="log-btn">
                            Log
                        </button>
                    </a>
                {% endif %}
                {% if user.profile in movie.logs.profile.all %}
                    <a href="{% url 'core:movie_page' movie.pk %}" class="btn btn-outline-secondary">Review Movie</a>
                {% endif %}
                <button type="button" class="btn btn-outline-warning btn-sm" 
                    id="watchlist-btn" data-movie-pk="{{ movie.pk }}">
                    {% if movie in request.user.profile.watchlists.all %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </button>
                <button type="button" class="btn btn-outline-info btn-sm" 
                    id="favourite-btn" data-movie-pk="{{ movie.pk }}">
                    {% if movie in request.user.profile.favourites.all %}
                        Remove from Favourites
                    {% else %}
                        Add to Favourites
                    {% endif %}
                </button>
                {% if user.profile|has_logged:movie %}
                    {% with last_log=user.profile|get_last_log:movie %}
                        <a href="{% url 'core:delete_log' last_log.pk %}">
                            <button type="button" class="btn btn-outline-danger btn-sm">
                                Delete last Log
                            </button>
                        </a>
                    {% endwith %}
                {% endif %}
            </div>
            {% if movie.production.pk == user.profile.pk %}
                <div class="row mt-4">
                    <a class="nav-link" href="{% url 'core:update_movie' movie.pk %}">
                        <img src="{% static 'update.svg' %}" alt="" width="25" height="25">
                    </a>
                    <a class="nav-link" href="{% url 'core:delete_movie' movie.pk %}">
                        <img src="{% static 'delete.svg' %}" alt="" width="25" height="25">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}