{% extends "base.html" %}
{% load static user_groups log_ops %}

{% block title %}Cult | Profile{% endblock %}

{% block header %} Profile {% endblock %}

{% block head %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/toggle_follow.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Include csrf_token needed for the AJAX request in the following system -->
<script>
    var csrfToken = "{{ csrf_token }}";
</script>

<div class="container">
    <div style="position: absolute; top: 80px; left: 20px; z-index: 10;">
        <a href="javascript:history.back()">
            <img src="{% static 'back.svg' %}" alt="" width="18" height="18">
        </a>
    </div>
    {% if object.pk == user.profile.pk %}
        <div style="position: absolute; top: 80px; right: 20px;">
            <a class="nav-link" href="{% url 'core:logout' %}">
                <img src="{% static 'logout.svg' %}" alt="" width="25" height="25">
            </a>
        </div>
        <div style="position: absolute; top: 80px; right: 65px;">
            <a class="nav-link" href="{% url 'core:update_profile' user.profile.pk %}">
                <img src="{% static 'update.svg' %}" alt="" width="25" height="25">
            </a>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center mt-5">
            <!-- Follow Button -->
            {% if object.pk != user.profile.pk %}
                <div>
                    <button type="button" class="btn btn-outline-info btn-sm" 
                    id="follow-btn" data-profile-id="{{ object.pk }}">
                        {% if object in request.user.profile.follows.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            <!-- Profile Picture -->
            <img src="{{ object.propic.url }}" class="rounded-circle mt-3" width="125" height="125">
            <!-- Username -->
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h2 class="mb-0 text-center">
                    {{ object.user.username }}
                </h2>
                <h5 class="mb-0 ml-2">
                    {% if object.user|in_group:"business" %}
                        <span class="ml-1 badge bg-secondary text-light">STUDIO</span>
                    {% endif %}
                </h5>
            </div>
            <!-- Bio -->
            <p class="mt-2">{{ object.bio }}</p>
            <!-- Favourite Movies -->
            {% if object.favourites.all%}
                <h3 class="mt-4">Favourites</h3>
                <div class="row">
                    {% for favourite in object.favourites.all %}
                        <div class="col-md-3">
                            <div class="card">
                                <a href="{% url 'core:movie_page' favourite.pk %}">
                                    <img src="{{ favourite.poster.url }}" class="card-img-top" 
                                    alt="{{ favourite.title }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Recent Logs -->
            {% if object.logs.all%}
                <h3 class="mt-4">Recent activities</h3>
                <div class="row">
                    {% for log in object|last_logs:4 %}
                        <div class="col-md-3">
                            <div class="card">
                                <a href="{% url 'core:movie_page' log.movie.pk %}">
                                    <img src="{{ log.movie.poster.url }}" class="card-img-top" 
                                    alt="{{ log.movie.title }}">
                                </a>
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        {{ log.date.date }}
                                        {% if log.like %}
                                            <div class="ml-2">
                                                <img src="{% static 'like.svg' %}" style="width: 12px; height: 12px;">
                                            </div>
                                        {% endif %}
                                        {% if log.rewatch %}
                                            <div class="ml-2">
                                                <img src="{% static 'rewatch.svg' %}" style="width: 12px; height: 12px;">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Links -->
            <div class="list-group list-group-flush mt-4">
                <a href="{% url 'core:diary' object.pk %}" class="list-group-item list-group-item-action">
                  Diary
                </a>
                <a href="#" class="list-group-item list-group-item-action">Reviews</a>
                <a href="#" class="list-group-item list-group-item-action">Watchlist</a>
                <a href="#" class="list-group-item list-group-item-action">Following</a>
                <a href="#" class="list-group-item list-group-item-action">Followers</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}