{% extends "review_list.html" %}

{% block title %}Cult |Profile review list{% endblock %}

{% block header %} Profile review list {% endblock %}

{% block page_header %} <h1> {{profile.user.username}}'s reviews </h1> {% endblock %}

{% block review_lhs %}

<a href="{% url 'core:movie_page' review.movie.pk %}">
    <img src="{{ review.movie.poster.url }}" alt="{{ review.movie.title }} poster" 
    class="img-thumbnail" style="width: 100px; height: auto;">
</a>

{% endblock %}

{% block review_bottom %}

{% if profile.pk == request.user.profile.pk %}
    <a href="{% url 'core:delete_review' review.pk %}" class="text-danger">Delete</a>
{% endif %}

{% endblock %}