{% extends "base.html" %}
{% load static %}

{% block head %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/toggle_star.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Include csrf_token needed for the AJAX request in the star toggle system -->
<script>
    var csrfToken = "{{ csrf_token }}";
</script>

<div style="position: absolute; top: 80px; left: 20px; z-index: 10;">
    <a href="javascript:history.back()">
        <img src="{% static 'back.svg' %}" alt="" width="18" height="18">
    </a>
</div>

<div style="text-align: center;" class="mt-2">
    {% block page_header %} {% endblock%}
</div>

<div class="container d-flex flex-column align-items-center">
    <ul id="review-list" class="list-group list-group-flush">
        {% for review in reviews %}
            <li class="list-group-item">
                <!-- Row for poster and text -->
                <div class="d-flex align-items-start">
                    <!-- Movie Poster on the left -->
                    <div class="me-3 flex-shrink-0">
                        {% block review_lhs %} {% endblock %}
                    </div>

                    <!-- Review text -->
                    <div class="ml-3 flex-grow-1">
                        {{ review.text }}
                    </div>
                </div>
                    
                <!-- Star count and delete link at the bottom -->
                <div class="d-flex justify-content-between align-items-end mt-2 ml-2">
                    <div>
                        <img id="star-img" data-review-id="{{review.pk}}" 
                        data-starfill-url="{% static 'star-fill.svg' %}"
                        data-star-url="{% static 'star.svg' %}"
                        {% if review in request.user.profile.stars.all %}
                            src="{% static 'star-fill.svg' %}"
                        {% else %}
                            src="{% static 'star.svg' %}"
                        {% endif %}
                        >
                        {{ review.stars_total }}
                    </div>
                    {% block review_bottom %} {% endblock %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Pagination controls -->
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</div>

{% endblock %}