{% extends "base.html" %}
{% load static %}

{% block title %}Cult | Watchlist{% endblock %}

{% block header %} 
    {{profile.user.username}}'s watchlist
{% endblock %}

{% block content %}

<div style="position: absolute; top: 80px; left: 20px; z-index: 10;">
    <a href="javascript:history.back()">
        <img src="{% static 'back.svg' %}" alt="" width="18" height="18">
    </a>
</div>

<div style="text-align: center;">
    <h1>Movies watchlisted by {{profile.user.username}}</h1>
</div>


<div class="row">
    {% for entry in watchlist %}
        <div class="col-md-2 mb-3">
            <div class="card">
                <a href="{% url 'core:movie_page' entry.movie.pk %}">
                    <img src="{{ entry.movie.poster.url }}" class="card-img-top" 
                    alt="{{ entry.movie.title }}">
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% empty %}
        <li>No movies watchlisted yet.</li>
    {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</div>

{% endblock %}